@import "tailwindcss";


html,
body {
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Rubik Mono One','Roboto', 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
}