@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


html,
body {
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Montserrat', /* 'Rubik Mono One','Roboto',*/ 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
}